<!DOCTYPE html>
<html>
  
  <head>
    <!-- <link href="stylesheets/style.css" rel="stylesheet" /> -->
    <link
      href="https://unpkg.com/carbon-components/css/carbon-components.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet"/>
  </head>

  <body>
    <div id='instructions_div' class="text">
      <h3>Instructions</h3>
        <p>Fill the following fields to estimate your dream house's price </p>
    </div>   
    <div class="bx--grid"></div>
      <div class="bx--row">
        <div class="bx--col">
  
          <div class="container">


              <label class="bx--label">Zip Code</label>
              <div class="bx--form-item">
                <div class="bx--select">
                  <select name="select" id="zipcode" onchange="onSelect(event)" class="bx--select-input">
                    <option class="bx--select-option" disabled selected hidden>Pick an option</option>
                    <option class="bx--select-option" value="27601">27601</option>
                    <option class="bx--select-option" value="27602">27602</option>
                    <option class="bx--select-option" value="27603">27603</option>
                    <option class="bx--select-option" value="27604">27604</option>
                    <option class="bx--select-option" value="27605">27605</option>
                    <option class="bx--select-option" value="27606">27606</option>
                    <option class="bx--select-option" value="27607">27607</option>
                    <option class="bx--select-option" value="27608">27608</option>
                    <option class="bx--select-option" value="27609">27609</option>
                    <option class="bx--select-option" value="276010">27610</option>
                    <option class="bx--select-option" value="276011">27611</option>
                  </select>
                </div>
              </div>
              
        

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-3" class="bx--label">House Age</label>
              <div class="bx--text-input__field-wrapper">
                <input
                  onchange='onChange(event)'
                  id="houseage"
                  type="text"
                  class="bx--text-input"
                  placeholder="Null"
                />
              </div>
            </div>

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-3" class="bx--label">Distance to Mass Transit</label>
              <div class="bx--text-input__field-wrapper">
                <input
                  onchange='onChange(event)'
                  id="distance"
                  type="text"
                  class="bx--text-input"
                  placeholder="Null"
                />
              </div>
            </div>

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-3" class="bx--label">Numbers of Stores Nearby</label>
              <div class="bx--text-input__field-wrapper">
                <input
                  onchange='onChange(event)'
                  id="stores"
                  type="text"
                  class="bx--text-input"
                  placeholder="Null"
                />
              </div>
            </div>

            <div class="bx--form-item bx--text-input-wrapper">
              <label for="text-input-3" class="bx--label">Square Footage</label>
              <div class="bx--text-input__field-wrapper">
                <input
                  onchange='onChange(event)'
                  id="sqft"
                  type="text"
                  class="bx--text-input"
                  placeholder="Null"
                />
              </div>
            </div>

          
           
          </div>
        </div> 

        <div class="bx--col">
          
         
          
     
          <button id="btn-form" class="bx--btn bx--btn--primary" type="button" onclick="onEstimate()">
            Estimate Price ($USD)
          </button>

          <div class="bx--form-item">
            <input id="price-output" type="text" class="bx--text-input" placeholder="0.00" readonly>

            <label for="text-input-3" class="bx--label">Average Price</label>
            <input id="average-price" type="text" class="bx--text-input" placeholder="0.00" readonly>
           
          </div>
        </div>
      </div>
    </div>    

    <!-- Put HTML snippets of components here... -->
    <script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
    <script type="text/javascript" src="javascripts/javascript.js"></script>
    <script>
      var socket = io.connect();
      socket.on("processresult", processresultHandler);
      function sendPayloadToDeployment(payload) {
        /*  document.getElementById("results_spinner").style.display = "block"; */
         /* var deployment_type = document.querySelector(
          'input[name="deployment_type"]:checked'
        ).value;  */
        socket.emit("sendtomodel", payload);
      }
    </script>
  </body>
</html>

